@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');


body {
    background-image:url("images/Beerflight.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.popup {
    background-color: white;
    width: 600px;
    height: 300px;
    padding: 40px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    display: none;
    text-align: center;
    font-family: 'Alata', sans-serif;
}

.popup button {
    display: block;
    width: 100px;
    position: relative;
    margin: 20px auto;
    text-align: center;
    background-color: white;
	border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 0;
}

.popup h1 {
    margin-top: 20px;
}

body > h1 {
    margin: 50px;
    font-family: 'Mate SC', serif;
    color: white;
    size: 300px;
}

body > p {
    margin: 50px;
    font-family: 'Alata', sans-serif;
    color: white;
}

.mainSearch {
    margin: 50px;
}

body > a {
    display: block;
    width: 100px;
    position: relative;
    margin: 20px auto;
    text-align: center;
    background-color: white;
	border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 0;
}

.mainResult > li {
    list-style-type: none;
    display: block;
}

.brewery-list {
    margin: 20px;

}

button {
    text-align: center;
    padding: 10px;
    border: none;
    background-color:bisque;
    color: brown;
    border-radius: 10px;
    margin: 10px;
    transition: background-color .3s, color .3s;


}

button:hover {
    background-color: brown;
    color: white;
}

/* .list-container {
    width: 60%;
    background-color: white;
    border: 3px solid brown;
    margin: auto;
    
}

.list-container .square {
    background-color: black;
    width: 200px;
    height: 200px;
    overflow: auto;
} */

.mainResult > ul {
width: 500px;
height: 400px;         
margin: 2vw auto;           
padding: 0 0 20px;
display: inline-block;
background: rgba(255,255,255,0.6);
box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.8);
border-radius: 10px;
color: #878;
overflow-x: hidden;
overflow-y: auto;
}
